
.mico_home .micoi{top: -58px; }
.active .mico_home .micoi{top: -58px; }
.flexslider {
	min-width:1257px;
	margin: 0px auto 20px;
	position: relative;
	width: 100%;
	height: 480px;
	overflow: hidden;
	zoom: 1;
}

.flexslider .slides li {
	width: 100%;
	height: 480px;
	position:absolute;
}

.flex-direction-nav a {
	width: 70px;
	height: 70px;
	line-height: 99em;
	overflow: hidden;
	margin: -35px 0 0;
	display: block;
	background: url(../img/ad_ctr.png) no-repeat;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	border-radius: 35px;
}

.flex-direction-nav .flex-next {
	background-position: 0 -70px;
	right: 0;
}

.flex-direction-nav .flex-prev {
	left: 0;
}

.flexslider:hover .flex-next {
	opacity: 0.8;
	filter: alpha(opacity=25);
}

.flexslider:hover .flex-prev {
	opacity: 0.8;
	filter: alpha(opacity=25);
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
	opacity: 1;
	filter: alpha(opacity=50);
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
}

.flex-control-nav li {
	margin: 0 2px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-paging span{
	background: url(../img/dot.png) no-repeat 0 -16px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	height: 16px;
	overflow: hidden;
	text-indent: -99em;
	width: 16px;
	cursor: pointer;
}

.flex-control-paging li a.flex-active,
.flex-control-paging .active{
	background-position: 0 0;
}

.flexslider .slides a img {
	height:480px;
	display: block;
	position:absolute;
	top:0px;
	right:0px;
}

.service{width: 1006px; margin: 0 auto; padding: 0 0 47px; }
.serQuery{margin: 0px auto; width: 100%; height: 375px;padding: 50px 0 0; overflow: hidden; }
.serLi{position: relative; float: left; width: 223.4px; height: 380px; margin: 0 14px; }
.serWrap{position: absolute; top: 0; left: 0; width: 223.4px; height: 320px; border: 1px solid #cecece; }
.serIco{width: 103px; height: 103px; margin: 24px auto 0; background-color: #666666; font-size: 0; line-height: 0; text-align: center; }
.serTitle{margin: 30px 0 10px; line-height: 28px; font-size: 18px; color: #000000; text-align: center; }
.serIntro{padding: 0 0 16px; text-align: center; line-height: 30px; color: #484848; }
.serLink{width: 192px; margin: 0 auto; border-top: 1px dotted #8d8d8d; padding: 21px 0 0; }
.serBtn{display: block; position: relative; width: 120px; height: 37px; overflow: hidden; margin: 0 auto; line-height: 36px; text-align: center; }
.serBtnLink,
.serBtnHover{position: absolute; top: 0; left: 0; width: 120px; height: 37px; background: url(../img/service_button.png) no-repeat center top; }
.serBtnLink{z-index: 1; background-position: center top; color: #3f3f3f; }
.serBtnHover{z-index: 0; background-position: center center; color: #ffffff; }
.icaseWrap{width: 1257px; margin: 0 auto; padding: 24px 0 16px; }
.icaseHeader{height: 36px; overflow: hidden; padding: 0 0 12px; }
.icaseDetLink{float: right; width: 78px; height: 28px; margin: 4px 0 0; padding: 0 18px 0 0; background: #cbcbcb url(../img/case_more_arrow.png) no-repeat 70px center; line-height: 28px; color: #ffffff; text-align: center; text-decoration: none; }
.icaseName{float: left; height: 24px; padding: 12px 0 0 110px; background: url(../img/case_title.png) no-repeat left center; line-height: 20px; font-size: 14px; }
.icaseBody{overflow: hidden; }
.icaseLeft{position: relative; float: left; width: 402px; overflow: hidden; padding: 20px 0 0; background: #ffffff; }
.icaseLeftTitle{height: 28px; padding: 0 0 0 18px; color: #858585; line-height: 28px; font-size: 15px; }
.icaseLeftIntro{position: relative; margin: 16px 0 0; }
.icasebPrev,
.icasebNext{position: absolute; z-index: 9; top: 100px; width: 31px; height: 31px; background: url(../img/case_control.png) no-repeat; }
.icasebPrev{left: 0; background-position: left bottom; }
.icasebPrev:hover{background-position: left top; }
.icasebNext{right: 0;  background-position: right bottom; }
.icasebNext:hover{background-position: right top; }
.icaseBanner{position: relative; z-index: 0;width:420px;height:357px;}
.icaseBanner .icasePic,
.icaseBanner .icasePic img{width:100%;}
.icasebli{position: absolute; left: 0; top: 0; width: 402px; }
.icasePic{display: block; width: 402px; height: 226px; overflow: hidden; font-size: 0; line-height: 0; }
.icaseInfo{border-bottom: 1px solid #ececec; padding: 19px 21px 7px; }
.icaseTitle{line-height: 28px; font-size: 18px; color: #353535; }
.icaseDate{line-height: 22px; font-size: 14px; color: #adadad; }
.icaseIntro{padding: 10px 20px; line-height: 20px; color: #868686; }
.vlist{width: 100%; overflow: hidden; }
.icaserQuery{float: left; width: 295.5px; margin: 0 0 25px 25px; padding:0 0 8px 0; background: #ffffff; }
.icaserTitle{display: block; padding: 0 0 0 15px; font-size: 14px; color: #353535; line-height: 24px; text-decoration: none; }
.icaserQuery:hover .icaserTitle{color: #ffffff; }
.icaserDate{display: block; padding: 0 0 0 15px; line-height: 20px; color: #adadad; }
.icaserPic{position: relative; width: 295.5px; height:166px; overflow: hidden; margin:0 0 5px 0; font-size: 0; line-height: 0; cursor:pointer;}
.icaserPic img{width: 100%;min-height: 100%; transition: all .5s ease-in-out;   -webkit-transition: all .5s ease-in-out;    -moz-transition: all .5s ease-in-out;    -o-transition: all .5s ease-in-out;}
.icaserPic:hover img{transform: sale(1.1);    -webkit-transform: scale(1.1);    -moz-transform: scale(1.1);    -o-transform: scale(1.1);    -ms-transform: scale(1.1);}
.icaserMask{display: none; position: absolute; top: 0; left: 0; z-index: 8; width: 100%; height: 100%; background: #000000; opacity: 0.3; filter: alpha( opacity = 80 );  }
.icaserLink{position: absolute; top: -45px; left: 125px; z-index: 9; width: 45px; height: 45px; background: url(../img/play.png) no-repeat center center; }

.iaAndn{width: 1257px; margin: 0 auto; padding: 0 0 46px; overflow: hidden; }
.iabout{float: left; width: 402px; margin: 0 1px 0 0; background: #ffffff; overflow: hidden; }
.iaQuery{position: relative; z-index: 0; height: 225px; width: 402px; }
.iaList{position: absolute; height: 225px; width: 402px; background: #ffffff; }
.iaName{height: 32px; width: 379px; padding: 11px 0 11px 23px;  border-bottom: 1px solid #eaeaea; }
.iaNameEn{font-size: 24px; color: #777777; line-height: 32px; }
.iaNameCn{margin: 0 0 0 8px; color: #9c9c9c; line-height: 20px; vertical-align: 2px; }
.iaBody{height: 225px; position:relative;}
.iaPic img{width:100%; transition: all .5s ease-in-out;   -webkit-transition: all .5s ease-in-out;    -moz-transition: all .5s ease-in-out;    -o-transition: all .5s ease-in-out;}
.iaPic:hover img{transform: sale(1.1);    -webkit-transform: scale(1.1);    -moz-transform: scale(1.1);    -o-transform: scale(1.1);    -ms-transform: scale(1.1);}
.iaPic{position: absolute; left: 20px; top: 25px; width: 172px; height: 175px; font-size: 0; line-height: 0; overflow: hidden;  }
.iaPicMask{position: absolute; left: 0; right: 0; bottom: 0; height: 36px; opacity: 0.8; filter: alpha( opacity = 80 ); background: #000000; }
.iaPicName{position: absolute; left: 0; right: 0; bottom: 0; padding: 0 10px; font-size: 12px; line-height: 36px; color: #ffffff; }
.iaIntro{position: absolute; right: 14px; top: 25px; width: 176px; }
.iaTitle{font-size: 14px; color: #333333; line-height: 24px;font-weight: bold; }
.iaContent{padding: 13px 0 0;color: #999999;font-size: 12px; line-height: 20px;}
.iaCtrl{height: 31px; border-top: 1px solid #eaeaea; padding: 19px 14px 0 0; text-align: right; }
.iaCtrl a{display: inline-block; width: 11px; height: 11px; margin: 0 3px; background: #e0e0e0; }
.iaCtrl a{*display: inline; *zoom: 1;}
.iaCtrl a:hover,
.iaCtrl a.curr{background: #4b4b4b; }

.iNews{float: left; width: 854px; background: #ffffff; }
.inHeader{height: 54px; padding: 0 0 0 28px; }
.inMore{float: right; width: 72px; height: 54px; border-left: 1px solid #eaeaea; background: #ffffff; text-align: center; line-height: 54px; color: #5f5f5f; font-size: 14px; text-decoration: none; }
.inMore:hover{color: #ffffff;  }
.inPrev,
.inNext{float: right; width: 56px; height: 54px; border-left: 1px solid #eaeaea; background: #ffffff url(../img/news_control.png) no-repeat; }
.inPrev{background-position: left bottom; }
.inNext{background-position: right bottom; }
.inPrev:hover{ background-position: left top; }
.inNext:hover{background-position: right top; }
.inNameEn{font-size: 24px; color: #777777; line-height: 54px; }
.inNameCn{margin: 0 0 0 8px; color: #9c9c9c; line-height: 20px; vertical-align: 2px; }
.inQueryWrap{position: relative; width: 100%; height: 277px; overflow: hidden; }
.inQuery{position: absolute; left: 0; top: 0; width: 1196px; height: 277px; }
.inList{position: relative; height: 112px; width: 742px; border-top: 1px solid #eaeaea; padding: 26px 0 0 78px; }
.inList.inListTop{position: absolute; left: 598px; top : 0; }
.inList.inListBottom{position: absolute; left: 598px; top : 139px; }
.inImg{width:160px;height:90px;overflow: hidden;margin-right: 10px;cursor:pointer;}
.inImg img{width:100%; transition: all .5s ease-in-out;   -webkit-transition: all .5s ease-in-out;    -moz-transition: all .5s ease-in-out;    -o-transition: all .5s ease-in-out;}
.inImg img:hover{transform: sale(1.1);    -webkit-transform: scale(1.1);    -moz-transform: scale(1.1);    -o-transform: scale(1.1);    -ms-transform: scale(1.1);}
.inLableDate{position: absolute; top: 26px; left: 28px; width: 50px; height: 90px; background-color: #9b9b9b; color: #ffffff; text-align: center; }
.indDay{display: block; height: 55px; font-size: 36px; line-height: 55px; border-bottom: 1px dotted #ffffff; }
.indMonth{display: block; font-size: 14px; line-height: 35px;height:35px; }
.inDate{position: absolute; right: 28px; top: 28px; line-height: 24px; color: #b6b6b6; }
.inTitle{font-size: 14px; line-height: 28px; color: #393939; text-decoration: none; }
.inList:hover .inTitle{color: #058bbc; }
.inIntro{width:500px;padding: 5px 28px 0 0; line-height: 20px; color: #868686; }
.footer{height: auto;padding:10px 0;font-size:14px;color:#949494; }
.footer ul{width:1255px;margin:0 auto;}
.footer li{float:left;margin:3px 5px;}
.footer li a{font-size:14px;color:#949494;text-decoration: none;}
.footer li a:hover{color:#fff;}
.footer p{text-align: center;margin:8px 0;}
.footer .mart20{margin-top: 20px;}