<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="utf-8">
<title>动画设计流程-MG动画制作流程-MG视频制作设计流程-创意广告视频设计流程-杭州产品动画制作报价</title>
<meta name="keywords" content="MG动画制作流程，flash动画制作流程，杭州二维动画设计制作，创意广告动画制作，创意视频制作流程，动画制作报价" />
<meta name="description" content="杭州动画街制作公司，是一家专业制作MG动画的企业，具备完善的flash动画报价标准，公司制作二维动画，创意动画案例多达1000余部，拥有别具风格的设计流程，提供一流的MG策划制作服务。" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/src/css/public.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/src/css/circuit.css">
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</head>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?a0b3ecf9587b562feb1621827b5cf930";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<body class="grey">
<div class="header">
	<div class="header_bar1" style="background-image: url(__PUBLIC__/Home/src/images/top-bj.jpg);">
		<a class="bannerLogo" href="{$domain}">
			<img src="__PUBLIC__/Home/src/images/bannerLogo.png">
		</a>
	</div>
	<nav id="menu" class="menu">
		<ul class="mwrap">
			<li>
				<a href="http://www.donghuajie.com" class="mlink">
					<span class="mname">首页</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/anli.html" class="mlink">
					<span class="mname">作品案例</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/about.html" class="mlink">
					<span class="mname">关于我们</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/circuit.html" class="mlink active">
					<span class="mname">服务流程</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/news.html" class="mlink">
					<span class="mname">最新动态</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/contact.html" class="mlink">
					<span class="mname">来撩我们</span>
				</a>
			</li>
			<li>
				<span class="dianhua">400-8656-770</span>
			</li>
			<li class="search-li">
				<span class="ck-search"></span>
				<form class="searchForm" action='{:U('Index/search')}' method='GET'>
					<input type="text" name="search" placeholder="请输入查找内容" autocomplete='off' >
					<button type="submit"></button>
				</form>
			</li>
		</ul>
		<div class="mshadow"></div>
	</nav>
</div> 
	<div class="header_hr"></div>
	<div class="serBody">
		<ul id="serlist" class="serlist">
			<!--1-->
            <li class="serli">
		        <div class="serLeft">
			        <div class="serlIco"><img src="__PUBLIC__/Home/src/img/2014731350821.png" alt="企业官网建设 创意网站建设 电子商务网站" title="企业官网建设 创意网站建设 电子商务网站"></div>
			        <h2 class="serlTitle" style="visibility: hidden;">你们制作视频是什么价格?</h2>
		        </div>
		        <div class="serRight">
			        <div class="serLabel"><span>你们制作视频是什么价格?</span></div>
			        <div class="serSum">请原谅我不能马上给您一个报价，每一个文案的个性化内容涉及到的制作量都是不一样的...</div>
			        <div class="serCon">
				        <p style="font-family:'Microsoft Yahei';background-color:#FFFFFF;">
				        	请原谅我不能马上给您一个报价，每一个文案的个性化内容涉及到的制作量都是不一样的，而且每一个动画都是包含着客户的期待，动画师们的心血，所以是需要定制完成的，在您提交确定版文案的时候我们会立即提交一个报价。我们会在保证视频质量的同时，给予每一个客户最优惠的价格，替每一个信任我们的客户实现价值。
							</p>
						</p>
			        </div>
			        <a class="serDet" href="javascript:void(0);">
				        <span class="serdLink">查看详情</span>
				        <span class="serdHover">查看详情</span>
			        </a>
		    	</div>
		    </li>
		    <!--2-->
		    <li class="serli">
		        <div class="serLeft">
			        <div class="serlIco"><img src="__PUBLIC__/Home/src/img/2014731350821.png" alt="企业官网建设 创意网站建设 电子商务网站" title="企业官网建设 创意网站建设 电子商务网站"></div>
			        <h2 class="serlTitle" style="visibility: hidden;">您们多久可以做好?</h2>
		        </div>
		        <div class="serRight">
			        <div class="serLabel"><span>您们多久可以做好?</span></div>
			        <div class="serSum">以1分钟的普通级别动画视频为例，文案定稿后...</div>
			        <div class="serCon">
				        <p style="font-family:'Microsoft Yahei';background-color:#FFFFFF;">
				        	以1分钟的普通级别动画视频为例，文案定稿后，7个工作日我们便可出片，为了更好的动画宣传效果，还请耐心等待哦。
							</p>
						</p>
			        </div>
			        <a class="serDet" href="javascript:void(0);">
				        <span class="serdLink">查看详情</span>
				        <span class="serdHover">查看详情</span>
			        </a>
		    	</div>
		    </li>	
		    <li class="serli">
		        <div class="serLeft">
			        <div class="serlIco"><img src="__PUBLIC__/Home/src/img/2014731350821.png" alt="企业官网建设 创意网站建设 电子商务网站" title="企业官网建设 创意网站建设 电子商务网站"></div>
			        <h2 class="serlTitle" style="visibility: hidden;">我还没想好内容，你们可以策划吗？</h2>
		        </div>
		        <div class="serRight">
			        <div class="serLabel"><span>我还没想好内容，你们可以策划吗？</span></div>
			        <div class="serSum">当然可以！项目成交后，我们的编导就是为了帮您创造更好的内容...</div>
			        <div class="serCon">
				        <p style="font-family:'Microsoft Yahei';background-color:#FFFFFF;">
当然可以！项目成交后，我们的编导就是为了帮您创造更好的内容。从您品牌的定位出发，结合品牌内涵，设计动画的内容呈现；当然如果您已经构思好内容，我们的编导也会帮咱们进行优化，用动画的创意帮您实现产品的准确呈现。
							</p>
						</p>
			        </div>
			        <a class="serDet" href="javascript:void(0);">
				        <span class="serdLink">查看详情</span>
				        <span class="serdHover">查看详情</span>
			        </a>
		    	</div>
		    </li>	
		    <li class="serli">
		        <div class="serLeft">
			        <div class="serlIco"><img src="__PUBLIC__/Home/src/img/2014731350821.png" alt="企业官网建设 创意网站建设 电子商务网站" title="企业官网建设 创意网站建设 电子商务网站"></div>
			        <h2 class="serlTitle" style="visibility: hidden;">对于动画不满意可以修改吗？</h2>
		        </div>
		        <div class="serRight">
			        <div class="serLabel"><span>对于动画不满意可以修改吗？</span></div>
			        <div class="serSum">动画的制作有严谨稳固的流程，我们会在每个流程结束前跟您确认是否满意...</div>
			        <div class="serCon">
				        <p style="font-family:'Microsoft Yahei';background-color:#FFFFFF;">
				        	<p class="p0">
动画的制作有严谨稳固的流程，我们会在每个流程结束前跟您确认是否满意，如果不满意我们将继续按照要求修改，一旦确认通过，进行到下一个环节时，就无法对上一个环节的内容进行修改。举个简单的例子：在动画制作到最后一步合成字幕音乐的时候，是无法对第3步中人物设计进行修改的。因为如果改变人物设计，等于是要重新从第三步开始制作动画。
							</p>
						</p>
			        </div>
			        <a class="serDet" href="javascript:void(0);">
				        <span class="serdLink">查看详情</span>
				        <span class="serdHover">查看详情</span>
			        </a>
		    	</div>
		    </li>	
		    <li class="serli">
		        <div class="serLeft">
			        <div class="serlIco"><img src="__PUBLIC__/Home/src/img/2014731350821.png" alt="企业官网建设 创意网站建设 电子商务网站" title="企业官网建设 创意网站建设 电子商务网站"></div>
			        <h2 class="serlTitle" style="visibility: hidden;">我们需要提供哪些资料？</h2>
		        </div>
		        <div class="serRight">
			        <div class="serLabel"><span>我们需要提供哪些资料？</span></div>
			        <div class="serSum">需要提供以下资料哦，以便我们更好的帮您做产品呈现...</div>
			        <div class="serCon">
				        <p style="font-family:'Microsoft Yahei';background-color:#FFFFFF;">
				        	需要提供以下资料哦，以便我们更好的帮您做产品呈现：
							</p>
							<p class="p0">
								1.内部已确定的动画文案
							</p>
							<p class="p0">2.企业LOGO等VI系统</p>
							<p class="p0">3.动画视频的应用场景</p>
							<p class="p0">4.贵企业特别喜欢的参考样片</p>
							<p class="p0">如没有文案，则需提供关于动画内容的相关资料，创意交给我们即可。</p>
						</p>
			        </div>
			        <a class="serDet" href="javascript:void(0);">
				        <span class="serdLink">查看详情</span>
				        <span class="serdHover">查看详情</span>
			        </a>
		    	</div>
		    </li>
		    <li class="serli">
		        <div class="serLeft">
			        <div class="serlIco"><img src="__PUBLIC__/Home/src/img/2014731350821.png" alt="企业官网建设 创意网站建设 电子商务网站" title="企业官网建设 创意网站建设 电子商务网站"></div>
			        <h2 class="serlTitle" style="visibility: hidden;">我们要做动画，怎么合作呢？</h2>
		        </div>
		        <div class="serRight">
			        <div class="serLabel"><span>我们要做动画，怎么合作呢？</span></div>
			        <div class="serSum">1.咱们沟通好细节，确定需求，文案以及整体的效果内容...</div>
			        <div class="serCon">
				        <p style="font-family:'Microsoft Yahei';background-color:#FFFFFF;">
				        	<p class="p0">
				        		1.咱们沟通好细节，确定需求，文案以及整体的效果内容
							</p>
							<p class="p0">2.签订合同</p>
							<p class="p0">3.支付定金，我们开始制作</p>
							<p class="p0">4.动画制作过程中会随时跟咱们反馈进度（配音－分镜－小样－成片）</p>
							<p class="p0">5.交付动画</p>
							<p class="p0">6.项目完成，支付尾款</p>
							<p class="p0">7.开具发票，寄出</p>
						</p>
			        </div>
			        <a class="serDet" href="javascript:void(0);">
				        <span class="serdLink">查看详情</span>
				        <span class="serdHover">查看详情</span>
			        </a>
		    	</div>
		    </li>			
		</ul>
	</div>
	<div id="serDetaile" class="serDetaile">
		<a href="javascript:void(0);" class="sdCloseBtn"></a>
		<h4 class="sdTitle">内容更新中</h4>
		<div class="sdContent">
			<div class="sdContentInner"></div>
		</div>
	</div>
	<div id="mask" class="mask"></div>
<div style="background-color:#fff;padding-top:40px;">
	<div class="picLink">
		<ul id="plQuery" class="plQuery">
			<foreach name="but" item="vol">
		<li class="plList"><a><img class="plGrey" src="{$vol.sltpath}"><img class="plColor" src="{$vol.src_hover}" title="{$vol.title}" alt="{$vol.title}"></a></li>
	</foreach>
		</ul>
	</div>
		<div class="webSite">
	<ul class="wsLink">
		<li class="wslList">
			<span class="wslName">关于我们</span>
			<ul class="wslcQuery">
                <li> <a href="{:U('/about')}" target="_blank">公司概况</a></li>
			</ul>
		</li>
		<li class="wslList">
			<span class="wslName">服务项目</span>
			<ul class="wslcQuery">
				<li> <a href="{:U('/circuit')}" target="_blank">问题答疑</a></li>
                <li> <a href="http://www.donghuajie.com/anli.html?type=23" target="_blank">二维动画</a></li>
                <li> <a href="http://www.donghuajie.com/anli.html?type=22" target="_blank">三维动画</a></li>
			</ul>
		</li>
		<li class="wslList">
			<span class="wslName">新闻动态</span>
			<ul class="wslcQuery">
                <li> <a href="{:U('/news')}" target="_blank">行业资讯</a></li>
			</ul>
		</li>
		<li class="wslList">
			<span class="wslName">联系我们</span>
			<ul class="wslcQuery">
					<li> <a href="{:U('/contact')}" target="_blank">联系方式</a></li>
                    <!-- <li> <a href="{:U('/contact')}" target="_blank">需求提交</a></li> -->
			</ul>
		</li>
		<li class="fl wsLx">
			<div class="clear marb35">
				<div class="fl w93 marr15">联系电话：</div>
				<div class="fl">
					<p class="marb10">{$n['u_tel'][1]}&nbsp;&nbsp;&nbsp;{$n['u_name'][1]}</p>
					<p>{$n['u_tel'][2]}&nbsp;&nbsp;&nbsp;{$n['u_name'][2]}</p>
				</div>
			</div>
			<div class="clear"> 
				<div class="fl w93 marr15"><img src="__PUBLIC__/Home/src/img/qq.jpg" alt="qq"></div>
				<div class="fl">
					<p class="marb10"><a style="color:#000;text-decoration:none;" href="tencent://message/?uin={$n['u_QQ'][1]}&Menu=yes" target="_blank">{$n['u_QQ'][1]}</a></p>
					<p><a style="color:#000;text-decoration:none;" href="tencent://message/?uin={$n['u_QQ'][2]}&Menu=yes" target="_blank">{$n['u_QQ'][2]}</a></p>
				</div>
			</div>
		</li>
	</ul>
</div>
	</div>
</div>
<div class="footer"></div>
<div id="top"></div>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/zzsc.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/TweenMax.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/scrollbar.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/public.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/circuit.js"></script>
<script>
	$('.ck-search').click(function(){
		$(this).hide();
		$('.searchForm').toggle();
	});
</script>
</body>
</html>