<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="shortcut icon" type="image/ico" href="../favicon.ico">
<meta charset="utf-8">
<title>{$seoWord['title']}—{$seo['title']}</title>
<meta name="keywords" content="{$seoWord['title']},{$seo['keywords']}" />
<meta name="description" content="{$description}" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/src/css/public.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/src/css/video.css">
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</head>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?a0b3ecf9587b562feb1621827b5cf930";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<body>
<div class="header">
	<div class="header_bar1" style="background-image: url(__PUBLIC__/Home/src/img/logo1.png);">
	</div>
	<nav id="menu" class="menu">
		<ul class="mwrap">
			<li>
				<a href="http://www.donghuajie.com" class="mlink">
					<span class="mname">首页</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/anli.html" class="mlink active">
					<span class="mname">作品案例</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/about.html" class="mlink">
					<span class="mname">关于我们</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/circuit.html" class="mlink">
					<span class="mname">服务流程</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/news.html" class="mlink">
					<span class="mname">最新动态</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/contact.html" class="mlink">
					<span class="mname">来撩我们</span>
				</a>
			</li>
			<li>
				<span class="dianhua">400-8656-770</span>
			</li>
		</ul>
		<div class="mshadow"></div>
	</nav>
</div>  
<div class="header_hr"></div>
<div class="vContainer">
	  <!--案例-->
      <div id="anli" style="background: #000;">
	      <!--详情-->
	      <div id="sitecontent">
		      <div class="npagePage">
			      <div class="content">
				      <div class="fw postbody postbody1">
					      <div class="video">
						        <div class="video_left fl">
						           <div id="a1"></div>
						        </div>
						        <div class="video_right fr" style="float:left;">
						          <!--<h2>推荐视频</h2>-->
						          <div class="rignt-container">
						              <div class="r-title">推荐视频</div>          
							          <h3>播单：<span style="color:#19a9d5;font-size: 14px; margin-top:1px;">{$video2.title}</span></h3>
							          <ul>
							          <foreach name="video_all" item="va">
							                <li>
								                <a href="{$domain}/anli/{$va['id']}.html">
								                  <div class="tjimg fl"><img src="{$va.sltpath}" alt=""></div>
								                  <div class="wz fr">
								                    <p>{$va.title}</p>
								                    <dl><dd><img src="__PUBLIC__/Home/src/img/sp.png" alt="" /><label>60</label></dd></dl>
								                  </div>
								                </a>
							                </li>   
							          </foreach>                  
							           </ul>
						           </div>  
						        </div>
						        <div class="clear"></div>
					       </div>
				      </div>
			       </div>
		      </div>
	      </div>
	      <!--详情end-->
      </div>
      <script src="__PUBLIC__/Home/src/ckplayer/ckplayer.js"></script>
      <script type="text/javascript">
		var flashvars={
			f:'',
			c:0,
			b:1
			};
		var params={bgcolor:'#f00',allowFullScreen:true,allowScriptAccess:'always',wmode:'transparent'};
		CKobject.embedSWF('{$video2.swf}','a1','ckplayer_a1','820','461',flashvars,params);	
	</script>
    <!--案例end-->
    <div class="container">
		<div class="content-box borderBox">
			<div class="t-title">
				{$video2.title}
				<div class="bdsharebuttonbox fr" data-tag="share_1">
					<a class="bds_qzone s-icon" data-cmd="qzone" href="#"></a>
					<a class="bds_tsina s-icon" data-cmd="tsina"></a>
					<a class="bds_weixin s-icon" data-cmd="weixin"></a>
				</div>
				<script>
					window._bd_share_config = {
						common : {
							bdText : '{$video2.content}',	
							bdDesc : '{$video2.title}',	
							bdUrl : ''
						},
						share : [{
							"tag" : "share_1",
							"bdSize" : 24
						}]
					}
					with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
				</script>
			</div>
	    	<div class="t-info">
	    		<img src="__PUBLIC__/Home/src/img/sp.png"><span class="t-type">视频类型：记录实拍</span><span>{$video2.createtime}</span>
	    	</div>
	    	<div id="content">
	    		{$video2.content}
	    	</div>
		</div>
    </div>
</div>
<div style="padding-top:40px;">
	<div class="picLink">
		<ul id="plQuery" class="plQuery">
	<foreach name="but" item="vol">
		<li class="plList"><a><img class="plGrey" src="{$vol.sltpath}"><img class="plColor" src="{$vol.src_hover}" title="{$vol.title}" alt="{$vol.title}"></a></li>
	</foreach>
		</ul>
	</div>
</div>
<div class="webSite">
	<ul class="wsLink">
		<li class="wslList">
			<span class="wslName">关于我们</span>
			<ul class="wslcQuery">
                <li> <a href="{:U('Home/Index/about')}" target="_blank">公司概况</a></li>		
			</ul>
		</li>
		<li class="wslList">
			<span class="wslName">服务项目</span>
			<ul class="wslcQuery">
				<li> <a href="{:U('Home/Index/circuit')}" target="_blank">MG动画视频</a></li>
                    <li> <a href="{:U('Home/Index/circuit')}" target="_blank">二维动画</a></li>
                    <li> <a href="{:U('Home/Index/circuit')}" target="_blank">三维动画</a></li>		
			</ul>
		</li>
		<li class="wslList">
			<span class="wslName">新闻动态</span>
			<ul class="wslcQuery">
                <li> <a href="{:U('Home/Index/news')}" target="_blank">行业资讯</a></li>          	
			</ul>
		</li>
		<li class="wslList">
			<span class="wslName">联系我们</span>
			<ul class="wslcQuery">
					<li> <a href="{:U('Home/Index/contact')}" target="_blank">联系方式</a></li>
                    <li> <a href="{:U('Home/Index/contact')}" target="_blank">需求提交</a></li>          		
			</ul>
		</li>
		<li class="fl wsLx">
			<div class="clear marb35">
				<div class="fl w93 marr15">联系电话：</div>
				<div class="fl">
					<p class="marb10">{$n['u_tel'][1]}&nbsp;&nbsp;&nbsp;{$n['u_name'][1]}</p>
					<p>{$n['u_tel'][2]}&nbsp;&nbsp;&nbsp;{$n['u_name'][2]}</p>
				</div>
			</div>
			<div class="clear"> 
				<div class="fl w93 marr15"><img src="__PUBLIC__/Home/src/img/qq.jpg" alt="qq"></div>
				<div class="fl">
					<p class="marb10"><a style="color:#000;text-decoration:none;" href="tencent://message/?uin={$n['u_QQ'][1]}&Menu=yes" target="_blank">{$n['u_QQ'][1]}</a></p>
					<p><a style="color:#000;text-decoration:none;" href="tencent://message/?uin={$n['u_QQ'][2]}&Menu=yes" target="_blank">{$n['u_QQ'][2]}</a></p>
				</div>
			</div>
		</li>
	</ul>
</div>
<div class="footer"></div>
<div class="gpc-t-box" id="gpc-t-box">
  <div class="gpc-video-t">
    <embed id="video-url" allowscriptaccess="always" allownetworking="all" allowfullscreen="true" width="670" height="377" type="application/x-shockwave-flash" src="">
    </embed>
  </div>
  <div class="gpc-video-t2">
     <div class="gpc-video-t2-lf">            
           <p class="gpc-a1-8" id="gpc-info" style="font-size:12px; color:#999">2016-11-12&nbsp;&nbsp;&nbsp;时长：1:30 </p>
     </div>
     <div class="gpc-video-t2-rt">
       <a class="gpc-a1-9" id="gpc-detail" href="anli.html"  target="_blank">查看更多视频>></a>
     </div>
  </div>
</div>	
<div id="top"></div>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/zzsc.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/TweenMax.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/public.js"></script>
</body>
</html>