<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=meta, minimum-scale=1.0">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="msapplication-TileColor" content="#000">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="{$seoWord['keywords']}" />
    <meta name="description" content="{$seoWord['description']}" />
    <link href="{$Think.config.asset_wap}/css/swiper.min.css" rel="stylesheet">
    <link href="{$Think.config.asset_wap}/css/index.css" rel="stylesheet">
    <title>{$seoWord['title']}</title>
    <script type="text/javascript">
        function fontFun() {
            var winW = document.documentElement.clientWidth;
            document.documentElement.style.fontSize = (winW / 750 * 625) + "%";
        }
        fontFun();
        window.onresize = fontFun; 
    </script>
</head>
<body>
    <!--头部-->
    <div class="top">
        <div class="logo"></div>
        <div class="operate"></div>
        <a href="javascript:history.go(-1)" class="back"></a>
        <div class="dialog">
            <div class="item_wap">
                <a class="item" href="{$domain}">
                    <span class="item_icon one"></span>
                    <span class="item_text">首页</span>
                </a>
                <a class="item" href="{$domain}/worker.html">
                <span class="item_icon two"></span>
                <span class="item_text">作品案例</span>
                </a>
                <a class="item" href="{$domain}/wegot.html">
                    <span class="item_icon three"></span>
                    <span class="item_text">来撩我们</span>
                </a>
            </div>
            <div class="item_wap">
                <a class="item" href="{$domain}">
                    <span class="item_icon four"></span>
                    <span class="item_text">关于我们</span>
                </a>
                <a class="item" href="{$domain}">
                    <span class="item_icon five"></span>
                    <span class="item_text">服务流程</span>
                </a>
                <a class="item" href="{$domain}/news.html">
                    <span class="item_icon six"></span>
                    <span class="item_text">最新动态</span>
                </a>
            </div>
        </div>
    </div>

    <div class="mywrap2">
        <div class="enws_img">
            <img src="/{$info.ytgpath}" width="100%" />
        </div>
        <div class="content">
            <div class="content_text">
                <p class="p1">{$info.title}</p>
                <if condition="$info['pubday'] eq 0" >
                    <p class="p2">今天</p>
                    <else />
                    <p class="p2">{$info['pubday']}天前</p>
                </if>
            </div>
        </div>
        <p class="p3">{$info.content}</p>

        <div class="share_block">
            <div class="share"></div>
        </div>
        <div class="last">已经到底了</div>
    </div>
    <!--分享框-->
    <div class="cover">
        <div class="shareArea">
            <div class="shareblock_one">
                <p class="share_t1">分享</p>
                <p class="share_t2">{$info.title}</p>
            </div>
            
            <div class="bdsharebuttonbox shareblock_two">
                 
                <div class="share_item">
                    <a class="qq_block bds_qzone"  data-cmd="qzone" title="分享到QQ空间"></a>
                    <span>QQ空间</span>
                </div>
                <div class="share_item">
                    <a class="wb_block bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <span>微博</span>
                </div>
                <div class="share_item ">
                    <a class="wx_block bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <span>朋友圈</span>
                </div>
            </div>
            <div class="cancle_block">
                <div class="cancle_btn">取消</div>
            </div>
        </div>
    </div>

    
    <script src="{$Think.config.asset_wap}/js/jquery-2.1.1.min.js"></script>
    <script>
        $('.operate').click(function(){
            $('.dialog').stop(false,true).fadeToggle();
        });
        $('.cancle_btn,.share').click(function(){
            $('.cover').stop(false,true).fadeToggle();
        });
        
        // 点击空白处关闭分享
        $(".cover").on('click',function(e){
            var target = $(e.target);
            if(target.closest('.shareArea').length == 0){
                $('.cover').stop(false,true).fadeToggle();
            }
            e.stopPropagation();
        });
    </script>
    <script>
        window._bd_share_config={
            "common":{
                bdText : '{$title}',	
                bdDesc : '{$title}',	
                bdUrl : '{$url}', 	
                bdPic : '{$imgurl}'
            },
            "share":{},
            "image":{
                "viewList":["qzone","tsina","tqq","renren","weixin"],
                "viewText":"分享到：","viewSize":"16"
            },
            "selectShare":{
                "bdContainerClass":null,
                "bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]
            }
        };
        with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    </script>
</body>
</html>


