<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=meta, minimum-scale=1.0">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="msapplication-TileColor" content="#000">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="{$seoWord['keywords']}" />
    <meta name="description" content="{$seoWord['description']}" />
    <link href="{$Think.config.asset_wap}/css/swiper.min.css" rel="stylesheet">
    <link href="{$Think.config.asset_wap}/css/dropload.css" rel="stylesheet"></link>
    <link href="{$Think.config.asset_wap}/css/animate.min.css" rel="stylesheet"></link>
    <link href="{$Think.config.asset_wap}/css/index.css" rel="stylesheet">
    <title>{$seoWord['title']}</title>
    <script type="text/javascript">
        function fontFun() {
            var winW = document.documentElement.clientWidth;
            document.documentElement.style.fontSize = (winW / 750 * 625) + "%";
        }
        fontFun();
        window.onresize = fontFun; 
    </script>
</head>
<body>
    <!--头部-->
    <div class="top">
        <div class="top_title">{$typeData.title}</div>
        <div class="operate"></div>
        <a href="javascript:history.go(-1)" class="back"></a>
        <div class="dialog animated">
            <div class="item_wap">
                <a class="item" href="{$domain}">
                    <span class="item_icon one"></span>
                    <span class="item_text">首页</span>
                </a>
                <a class="item" href="{$domain}/worker.html">
                <span class="item_icon two"></span>
                <span class="item_text">作品案例</span>
                </a>
                <a class="item" href="{$domain}/wegot.html">
                    <span class="item_icon three"></span>
                    <span class="item_text">来撩我们</span>
                </a>
            </div>
            <div class="item_wap">
                <a class="item" href="{$domain}">
                    <span class="item_icon four"></span>
                    <span class="item_text">关于我们</span>
                </a>
                <a class="item" href="{$domain}">
                    <span class="item_icon five"></span>
                    <span class="item_text">服务流程</span>
                </a>
                <a class="item" href="{$domain}/news.html">
                    <span class="item_icon six"></span>
                    <span class="item_text">最新动态</span>
                </a>
            </div>
        </div>
    </div>

   <!--content-->
   <div class="mywrap2">
        <div class="content-video" style="width:100%;">
            <volist name="video" id="vo" offset="0" length='5'>
                <div class="pages margintop_0">
                    <a class="pageimg" href="{$domain}/anli/{$vo['id']}.html" >
                        <img  src="{$vo.sltpath}" width="100%"/>
                    </a>
                    <div class="pageText">
                        <p class="page_t1">{$vo.title}</p>
                        <if condition="$vo['pubday'] eq 0" >
                            <p class="page_t2">今天</p>
                            <else />
                            <p class="page_t2">{$vo.pubday}天前</p>
                        </if>
                    </div>
                </div>
            </volist>
        </div>
        <if condition="$total gt 1">
            <div class="last" {$total}>下拉加载更多</div>
        <else/>
            <div class="last">已经到底了</div>
        </if>
       
    </div>
    <script src="{$Think.config.asset_wap}/js/zepto.min.js"></script>
    <script src="{$Think.config.asset_wap}/js/dropload.js"></script>
    <script>
        $('.operate').click(function(){
            $('.dialog').toggle();
        });
   
        /*下拉加载*/
        var page_num = 1;
        var PullDown=function(area,fun){
            var startY, endY;
            var detailList=$(area);
            detailList.on('touchstart',function (e) {
                startY = e.touches[0].pageY;
            });
            detailList.on('touchend',function (e) {
                endY = e.changedTouches[0].pageY;
                var y = endY - startY;
                    /*滑动大于200，发送请求*/
                if(y<-100){ 
                    /*滑动的区域，滑动完执行的函数 (回调函数)*/
                    fun();
                }
            });
        };

        var AjaxPost = function(url, query,fun,para){
            $.ajax({
                type:"GET",
                url:url,
                data:query,
                dataType:'json',
                async:true,
                success:function(data){
                    fun(data,para);
                }
            });
        };

        PullDown('.mywrap2',function(){
            $('.last').html('加载中...');
            page_num++;
            var query="page_num="+page_num+"&type={$typeData.id}";
            AjaxPost('/index/videolazy',query,function(data){
                if(parseInt(data.status) == 0){
                    console.log(data.status);
                    var html ='';
                    for(var i = 0;i<data.data.length;i++){
                        var lists = data.data[i];
                        var day ='';
                        if(parseInt(lists.pubday)==0){
                            day = '今天';
                        }else{
                            day = lists.pubday+"天前";
                        }
                        html +=  '<div class="pages">'+
                                        '<a class="pageimg" href="{$domain}/anli/'+lists.id+'.html" >'+
                                            '<img  src="'+lists.sltpath+'" width="100%"/>'+
                                        '</a>'+
                                        '<div class="pageText">'+
                                            '<p class="page_t1">'+lists.title+'</p>'+
                                            '<p class="page_t2">'+day+'</p>'+
                                        '</div>'+
                                    '</div>';
                    }
                    $('.content-video').append(html);
                    if(page_num <= data.total){
                        $('.last').html('上拉加载更多');
                    }
                }else{
                    $('.last').html('已经到底了');
                }
            })
        });

    </script>
</body>
</html>