<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="utf-8">
<title>动画设计流程-MG动画制作流程-MG视频制作设计流程-创意广告视频设计流程-杭州产品动画制作报价</title>
<meta name="keywords" content="MG动画制作流程，flash动画制作流程，杭州二维动画设计制作，创意广告动画制作，创意视频制作流程，动画制作报价" />
<meta name="description" content="杭州动画街制作公司，是一家专业制作MG动画的企业，具备完善的flash动画报价标准，公司制作二维动画，创意动画案例多达1000余部，拥有别具风格的设计流程，提供一流的MG策划制作服务。" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/src/css/public.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/src/css/circuit.css">
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</head>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?a0b3ecf9587b562feb1621827b5cf930";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<body class="grey">
<div class="header">
	<div class="header_bar1" style="background-image: url(__PUBLIC__/Home/src/images/top-bj.jpg);">
		<a class="bannerLogo" href="{$domain}">
			<img src="__PUBLIC__/Home/src/images/bannerLogo.png">
		</a>
	</div>
	<nav id="menu" class="menu">
		<ul class="mwrap">
			<li>
				<a href="http://www.donghuajie.com" class="mlink">
					<span class="mname">首页</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/anli.html" class="mlink">
					<span class="mname">作品案例</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/about.html" class="mlink">
					<span class="mname">关于我们</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/circuit.html" class="mlink active">
					<span class="mname">常见问题</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/news.html" class="mlink">
					<span class="mname">动画资讯</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/contact.html" class="mlink">
					<span class="mname">来撩我们</span>
				</a>
			</li>
			<li>
				<span class="dianhua">400-8656-770</span>
			</li>
			<li class="search-li">
				<span class="ck-search"></span>
				<form class="searchForm" action='{:U('Index/search')}' method='GET'>
					<input type="text" name="search" placeholder="请输入查找内容" autocomplete='off' >
					<button type="submit"></button>
				</form>
			</li>
		</ul>
		<div class="mshadow"></div>
	</nav>
</div> 
	<div class="header_hr"></div>
	<div class="serBody">
		<ul id="serlist" class="serlist">
            <li class="serli">
		        <div class="serLeft">
			        <div class="serlIco"><img src="__PUBLIC__/Home/src/img/2014731350821.png" alt="企业官网建设 创意网站建设 电子商务网站" title="企业官网建设 创意网站建设 电子商务网站"></div>
			        <h2 class="serlTitle">视频制作常见问题</h2>
		        </div>
		        <div class="serRight">
			        <div class="serLabel"><span>视频制作常见问题</span></div>
			        <div class="serSum">制作一个视频需要多少钱？多久才能做好？视频创意如何策划？...</div>
			        <div class="serCon">
				        <p style="font-family:'Microsoft Yahei';background-color:#FFFFFF;">
				        	<p class="p0">制作一个视频需要多少钱？<br />每个视频都是经过定制做成，在把控视频质量的同时，我们核算您用适宜的预算，做成满意的视频。
							</p>
							<p class="p0">
								<br />
							</p>
							<p class="p0">
								<p class="p0">多久才能做好？<br />一般视频在文案确认后，5个工作日可出片，动画不但要做的好，也要给您满意的体验。
								</p>
								<p class="p0">
									<br />
								</p>
								<p class="p0">视频创意如何策划？<br />视频的创意由我们的编导和动画师来帮您策划，您提供您想要加入的内容，完成您满意的视频。
								</p>
								<p class="p0">
									<br />
								</p>
							</p>
						</p>
			        </div>
			        <a class="serDet" href="javascript:void(0);">
				        <span class="serdLink">查看详情</span>
				        <span class="serdHover">查看详情</span>
			        </a>
		    	</div>
		    </li>
		    <li class="serli">
		        <div class="serLeft">
			        <div class="serlIco"><img src="__PUBLIC__/Home/src/img/2014731350821.png" alt="企业官网建设 创意网站建设 电子商务网站" title="企业官网建设 创意网站建设 电子商务网站"></div>
			        <h2 class="serlTitle">“事后”体验问题</h2>
		        </div>
		        <div class="serRight">
			        <div class="serLabel"><span>“事后”体验问题</span></div>
			        <div class="serSum">片子做出来，如果不满意怎么办？</div>
			        <div class="serCon">
				        <p style="font-family:'Microsoft Yahei';background-color:#FFFFFF;">
				        	<p class="p0">片子做出来，如果不满意怎么办？<br />咱们的视频在制作之前会先跟您再三确认核实文案脚本，您觉得没有问题了，我们才会进行制作，而且在制作的过程中，我们都会先做一个5-10秒的小样片给您看风格，您觉得风格也喜欢，我们再继续制作下去，而且也是根据咱们的文案进行制作的，所以一般不会出现什么大问题。成片出来以后，咱们再进行一些好的优化和完善，有一些细节上的瑕疵那肯也是要帮您解决的。所以这个问题您不用担心。当然我也相信您不是那种恶意退款和差评的客户。
							</p>
						</p>
			        </div>
			        <a class="serDet" href="javascript:void(0);">
				        <span class="serdLink">查看详情</span>
				        <span class="serdHover">查看详情</span>
			        </a>
		    	</div>
		    </li>	
		    <li class="serli">
		        <div class="serLeft">
			        <div class="serlIco"><img src="__PUBLIC__/Home/src/img/2014731350821.png" alt="企业官网建设 创意网站建设 电子商务网站" title="企业官网建设 创意网站建设 电子商务网站"></div>
			        <h2 class="serlTitle">如果有价格疑惑问题</h2>
		        </div>
		        <div class="serRight">
			        <div class="serLabel"><span>如果有价格疑惑问题</span></div>
			        <div class="serSum">你们这个价格能不能再便宜点？扒拉扒拉扒拉。</div>
			        <div class="serCon">
				        <p style="font-family:'Microsoft Yahei';background-color:#FFFFFF;">
				        	<p class="p0">你们这个价格能不能再便宜点？扒拉扒拉扒拉。<br />不好意思，我们这边不存在这个问题，我们家的报价已经很实在了，所以，如果你希望可以有优惠的话，请发你的靓照，我再帮你打个折。（根据好看的程度，优惠不等）
							</p>
						</p>
			        </div>
			        <a class="serDet" href="javascript:void(0);">
				        <span class="serdLink">查看详情</span>
				        <span class="serdHover">查看详情</span>
			        </a>
		    	</div>
		    </li>	
		    <li class="serli">
		        <div class="serLeft">
			        <div class="serlIco"><img src="__PUBLIC__/Home/src/img/2014731350821.png" alt="企业官网建设 创意网站建设 电子商务网站" title="企业官网建设 创意网站建设 电子商务网站"></div>
			        <h2 class="serlTitle">不知道自己该做什么类型（风格）的动画</h2>
		        </div>
		        <div class="serRight">
			        <div class="serLabel"><span>不知道自己该做什么类型（风格）的动画</span></div>
			        <div class="serSum">我也不清楚什么类型的动画比较适合我，你这边有什么推荐的吗？</div>
			        <div class="serCon">
				        <p style="font-family:'Microsoft Yahei';background-color:#FFFFFF;">
				        	<p class="p0">我也不清楚什么类型的动画比较适合我，你这边有什么建议吗？<br />恭喜你，你获得了一个很负责的动画对接专员，安排跟您对接的人员，都会根据您的行业，您的内容，您的想法。给您一个创意，契合，的动画制作方案，您只负责感受动画给您带来的价值就可以了。
							</p>
						</p>
			        </div>
			        <a class="serDet" href="javascript:void(0);">
				        <span class="serdLink">查看详情</span>
				        <span class="serdHover">查看详情</span>
			        </a>
		    	</div>
		    </li>	
		    <li class="serli">
		        <div class="serLeft">
			        <div class="serlIco"><img src="__PUBLIC__/Home/src/img/2014731350821.png" alt="企业官网建设 创意网站建设 电子商务网站" title="企业官网建设 创意网站建设 电子商务网站"></div>
			        <h2 class="serlTitle">你们的制作人员审美怎么样？</h2>
		        </div>
		        <div class="serRight">
			        <div class="serLabel"><span>你们的制作人员审美怎么样？</span></div>
			        <div class="serSum">不知道你们制作人员的审美和做出来的质量是怎么样的？</div>
			        <div class="serCon">
				        <p style="font-family:'Microsoft Yahei';background-color:#FFFFFF;">
				        	<p class="p0">不知道你们制作人员的审美和做出来的质量是怎么样的？<br />不是我们吹牛，我们的动画制作，颜值起码都在70分以上，长得好看的人，审美都是可以的，包括项目对接专员，颜值也是在80分以上，合作之后可以要求专员提供靓照一份！
							</p>
							<p class="p0">
								<br />
							</p>
							<!-- <p class="p0">
								<p class="p0">多久才能做好？<br />一般视频在文案确认后，5个工作日可出片，动画不但要做的好，也要给您满意的体验。
								</p>
								<p class="p0">
									<br />
								</p>
								<p class="p0">视频创意如何策划？<br />
									视频的创意由我们的编导和动画师来帮您策划，您提供您想要加入的内容，完成您满意的视频。
								</p>
								<p class="p0">
									<br />
								</p>
							</p> -->
						</p>
			        </div>
			        <a class="serDet" href="javascript:void(0);">
				        <span class="serdLink">查看详情</span>
				        <span class="serdHover">查看详情</span>
			        </a>
		    	</div>
		    </li>			
		</ul>
	</div>
	<div id="serDetaile" class="serDetaile">
		<a href="javascript:void(0);" class="sdCloseBtn"></a>
		<h4 class="sdTitle">内容更新中</h4>
		<div class="sdContent">
			<div class="sdContentInner"></div>
		</div>
	</div>
	<div id="mask" class="mask"></div>
<div style="background-color:#fff;padding-top:40px;">
	<div class="picLink">
		<ul id="plQuery" class="plQuery">
			<foreach name="but" item="vol">
		<li class="plList"><a><img class="plGrey" src="{$vol.sltpath}"><img class="plColor" src="{$vol.src_hover}" title="{$vol.title}" alt="{$vol.title}"></a></li>
	</foreach>
		</ul>
	</div>
		<div class="webSite">
	<ul class="wsLink">
		<li class="wslList">
			<span class="wslName">关于我们</span>
			<ul class="wslcQuery">
                <li> <a href="{:U('/about')}" target="_blank">公司概况</a></li>
			</ul>
		</li>
		<li class="wslList">
			<span class="wslName">服务流程</span>
			<ul class="wslcQuery">
			<!-- 	<li> <a href="{:U('/circuit')}" target="_blank">MG动画视频</a></li> -->
                    <li> <a href="{:U('/circuit')}" target="_blank">二维动画</a></li>
                    <li> <a href="{:U('/circuit')}" target="_blank">三维动画</a></li>
			</ul>
		</li>
		<li class="wslList">
			<span class="wslName">动画资讯</span>
			<ul class="wslcQuery">
                <li> <a href="{:U('/news')}" target="_blank">行业资讯</a></li>
			</ul>
		</li>
		<li class="wslList">
			<span class="wslName">联系我们</span>
			<ul class="wslcQuery">
					<li> <a href="{:U('/contact')}" target="_blank">联系方式</a></li>
                    <li> <a href="{:U('/contact')}" target="_blank">需求提交</a></li>
			</ul>
		</li>
		<li class="fl wsLx">
			<div class="clear marb35">
				<div class="fl w93 marr15">联系电话：</div>
				<div class="fl">
					<p class="marb10">{$n['u_tel'][1]}&nbsp;&nbsp;&nbsp;{$n['u_name'][1]}</p>
					<p>{$n['u_tel'][2]}&nbsp;&nbsp;&nbsp;{$n['u_name'][2]}</p>
				</div>
			</div>
			<div class="clear"> 
				<div class="fl w93 marr15"><img src="__PUBLIC__/Home/src/img/qq.jpg" alt="qq"></div>
				<div class="fl">
					<p class="marb10"><a style="color:#000;text-decoration:none;" href="tencent://message/?uin={$n['u_QQ'][1]}&Menu=yes" target="_blank">{$n['u_QQ'][1]}</a></p>
					<p><a style="color:#000;text-decoration:none;" href="tencent://message/?uin={$n['u_QQ'][2]}&Menu=yes" target="_blank">{$n['u_QQ'][2]}</a></p>
				</div>
			</div>
		</li>
	</ul>
</div>
	</div>
</div>
<div class="footer"></div>
<div id="top"></div>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/zzsc.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/TweenMax.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/scrollbar.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/public.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/circuit.js"></script>
<script>
	$('.ck-search').click(function(){
		$(this).hide();
		$('.searchForm').toggle();
	});
</script>
<!--客服代码-->
<script>
    (function() {var _53code = document.createElement("script");
        _53code.src = "https://tb.53kf.com/code/code/10167819/2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(_53code, s)
        ;})();
</script>
</body>
</html>