<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="utf-8">
<title>动画街-杭州影视公司联系方式-创意动画视频-企业宣传动画视频</title>
<meta name="keywords" content="杭州动画街，杭州动画制作公司，杭州影视制作公司，创意视频制作，MG动画设计制作，flash动画设计制作。" />
<meta name="description" content="杭州动画街专注产品动画制作，为国内外政企提供产品宣传动画，策划，推广一站式服务，为企业提升品牌，引爆销量。为公司和产品品牌视觉建立信任传播，拥有尖端的新媒体技术与一流的制作设备,为全球客户提供产品动画。" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/src/css/public.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/src/css/contact.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/src/css/animate.min.css">
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</head>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?a0b3ecf9587b562feb1621827b5cf930";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<body>
<div class="header">
	<div class="header_bar1" style="background-image: url(__PUBLIC__/Home/src/images/top-bj.jpg);">
		<a class="bannerLogo" href="{$domain}">
			<img src="__PUBLIC__/Home/src/images/bannerLogo.png">
		</a>
	</div>
	<nav id="menu" class="menu">
		<ul class="mwrap">
			<li>
				<a href="{$domain}" class="mlink">
					<span class="mname">首页</span>
				</a>
			</li>
			<li>
				 <a href="{$domain}/anli.html" class="mlink">
					<span class="mname">作品案例</span>
				</a>
			</li>
			<li>
				 <a href="{$domain}/about.html" class="mlink">
					<span class="mname">关于我们</span>
				</a>
			</li>
			<li>
				 <a href="{$domain}/circuit.html" class="mlink">
					<span class="mname">常见问题</span>
				</a>
			</li>
			<li>
				 <a href="{$domain}/news.html" class="mlink ">
					<span class="mname">动画资讯</span>
				</a>
			</li>
			<li>
				 <a href="{$domain}/contact.html" class="mlink active">
					<span class="mname">来撩我们</span>
				</a>
			</li>
			<li>
				<span class="dianhua">400-8656-770</span>
			</li>
			<li class="search-li">
				<span class="ck-search"></span>
				<form class="searchForm" action='{:U('Index/search')}' method='GET'>
					<input type="text" name="search" placeholder="请输入查找内容" autocomplete='off' >
					<button type="submit"></button>
				</form>
			</li>
		</ul>
		<div class="mshadow"></div>
	</nav>
</div>  
<div class="header_hr"></div>
<div class="got-banner">
	<div class="got-banner-text">
		<p class="got-title-bar animated slideInDown delay-0">动画业务660座城市均可服务，不限地区！</p>
		<p class="common-p mgtop animated slideInLeft delay-1">如果说拍摄类视频，是异地恋，</p>
		<p class="common-p animated slideInRight delay-2">那么动画，则是一场没有区域限制的世纪恋情。</p>
		<p class="common-p animated bounceIn delay-3">660个不同城市的”TA”都通过我们找到了喜爱的“动画”</p>
	</div>
</div>
<div class="got-title">
	<span class="got-text">联系我们</span>
	<span class="got-line"></span>
</div>
<div class="got-content">
	<div class="got-wrap">
		<div class="got-item">
			<div class="got-img">
				<img src="__PUBLIC__/Home/src/img/address-bj.jpg">
			</div>
			<div class="got-style">
				<span class="style-icon address_icon"></span>
				<span class="style-msg">公司地址</span>
			</div>
			<p class="details">浙江省杭州市未来科技城梦想小镇 </p>
		</div>
		<div class="got-item">
			<div class="got-img">
				<img src="__PUBLIC__/Home/src/img/tel-bj.jpg">
			</div>
			<div class="got-style">
				<span class="style-icon tel_icon"></span>
				<span class="style-msg">联系电话</span>
			</div>
			<p class="details">400-8656-770 </p>
		</div>
		<div class="got-item">
			<div class="got-img">
				<img src="__PUBLIC__/Home/src/img/qq-bj.jpg">
			</div>
			<div class="got-style">
				<span class="style-icon qq_icon"></span>
				<span class="style-msg">QQ</span>
			</div>
			<p class="details">1633219006</p>
		</div>
	</div>
</div>
<!-- <div class="cContent">
	<div class="cBgf">
		<ul>
			<li class="clear">
				<div>
					<img src="__PUBLIC__/Home/src/img/c1.jpg" alt="电话"/>
					<p>{$n['u_name'][1]}&nbsp;&nbsp;&nbsp;{$n['u_tel'][1]}</p>
					<p>{$n['u_name'][2]}&nbsp;&nbsp;&nbsp;{$n['u_tel'][2]}</p>
				</div>
				<div>
					<img src="__PUBLIC__/Home/src/img/c2.jpg" alt="qq"/>
					<p>{$n['u_name'][1]}&nbsp;&nbsp;&nbsp;<a style="color:#000;text-decoration:none;" href="tencent://message/?uin={$n['u_QQ'][1]}&Menu=yes" target="_blank">{$n['u_QQ'][1]}</a></p>
					<p>{$n['u_name'][2]}&nbsp;&nbsp;&nbsp;<a style="color:#000;text-decoration:none;" href="tencent://message/?uin={$n['u_QQ'][2]}&Menu=yes" target="_blank">{$n['u_QQ'][2]}</a></p>
				</div>
			</li>
			<li class="cWz">网址：<a href="/">www.donghuajie.com</a></li>
			<li class="cDz">公司地址：浙江省杭州市未来科技城梦想小镇</li>
		</ul>
	</div>
</div> -->
<!-- <div class="picLink">
	<ul id="plQuery" class="plQuery">
		<foreach name="but" item="vol">
		<li class="plList"><a><img class="plGrey" src="{$vol.sltpath}"><img class="plColor" src="{$vol.src_hover}" title="{$vol.title}" alt="{$vol.title}"></a></li>
	</foreach>
	</ul>
</div> -->

<div class="webSite">
	<ul class="wsLink">
		<li class="wslList">
			<span class="wslName">关于我们</span>
			<ul class="wslcQuery">
                <li> <a href="{:U('/about')}" target="_blank">公司概况</a></li>
			</ul>
		</li>
		<li class="wslList">
			<span class="wslName">服务流程</span>
			<ul class="wslcQuery">
				<!-- <li> <a href="{:U('/circuit')}" target="_blank">MG动画视频</a></li> -->
                    <li> <a href="{:U('/circuit')}" target="_blank">二维动画</a></li>
                    <li> <a href="{:U('/circuit')}" target="_blank">三维动画</a></li>
			</ul>
		</li>
		<li class="wslList">
			<span class="wslName">动画资讯</span>
			<ul class="wslcQuery">
                <li> <a href="{:U('/news')}" target="_blank">行业资讯</a></li>
			</ul>
		</li>
		<li class="wslList">
			<span class="wslName">联系我们</span>
			<ul class="wslcQuery">
					<li> <a href="{:U('/contact')}" target="_blank">联系方式</a></li>
                    <li> <a href="{:U('/contact')}" target="_blank">需求提交</a></li>
			</ul>
		</li>
		<li class="fl wsLx">
			<div class="clear marb35">
				<div class="fl w93 marr15">联系电话：</div>
				<div class="fl">
					<p class="marb10">{$n['u_tel'][1]}&nbsp;&nbsp;&nbsp;{$n['u_name'][1]}</p>
					<p>{$n['u_tel'][2]}&nbsp;&nbsp;&nbsp;{$n['u_name'][2]}</p>
				</div>
			</div>
			<div class="clear"> 
				<div class="fl w93 marr15"><img src="__PUBLIC__/Home/src/img/qq.jpg" alt="qq"></div>
				<div class="fl">
					<p class="marb10"><a style="color:#000;text-decoration:none;" href="tencent://message/?uin={$n['u_QQ'][1]}&Menu=yes" target="_blank">{$n['u_QQ'][1]}</a></p>
					<p><a style="color:#000;text-decoration:none;" href="tencent://message/?uin={$n['u_QQ'][2]}&Menu=yes" target="_blank">{$n['u_QQ'][2]}</a></p>
				</div>
			</div>
		</li>
	</ul>
</div>
<div class="footer"></div>
<div id="top"></div>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/zzsc.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/TweenMax.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/public.js"></script>
<script>
	$('.got-item').mouseenter(function(){
		$(this).stop(false,true).animate({'top':'-10px'});
	}).mouseleave(function(){
		$(this).stop(false,true).animate({'top':'0px'});
	});
	$('.ck-search').click(function(){
		$(this).hide();
		$('.searchForm').toggle();
	});
</script>
<!--客服代码-->
<script>
    (function() {var _53code = document.createElement("script");
        _53code.src = "https://tb.53kf.com/code/code/10167819/2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(_53code, s)
        ;})();
</script>
</body>
</html>