<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
    <title>V咖家园后台</title>
    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="__PUBLIC__/Back/src/css/login.css">
    <script src="__PUBLIC__/Back/src/js/jquery-1.9.1.min.js"></script>
</head>
<body onkeydown="keyLogin();">
 <div id="headerbox">
    <div id="header">
        <ul id="left">
            <li><img src="__PUBLIC__/images/img/logo.jpg" width="60"></li>
            <li class="dl">管理员登录</li>
        </ul>
    </div>
</div>
<div id="mainbox">
 <img src="/Public/images/img/logo.jpg" width="600">
   <div id="main">
   	    
       <div id="log">
       	   <div class="logt">登录</div>
           <form action="" id="login" >
               	<div class="clear pad10">
               		<label class="label tel fl"></label>
               		<input class="fl" type="text" name="name" placeholder="请输入用户名">
               	</div>
               	<div  class="clear pad10">
               		<label class="label password fl"></label>
               		<input class="fl" type="password" name="password" placeholder="请输入密码">
               	</div>
               	<div class="h40">
	               <input type="checkbox" name="chkRememberMe" id="rememberpsd">
	               <label for="rememberpsd">自动登录</label>
	           </div>
               <span class="submit">登录</span>
           </form>
       </div>
   </div>
</div>
<div class="footer" style="padding-top:18px;">
	<p>V咖家园</p>
	<div style="display:none;"></div>
</div>
<script>
	$(".submit").click(function(){
		if($("input[name='name']").val() == '') return alert("账号不允许为空！");
		if($("input[name='password']").val() == '')	return alert("密码不允许为空！");

		$.ajax({
			url:"{:U('Back/Login/login')}",
			type:'post',
			dataType:'json',
			data:$("#login").serialize(),
			success:function(res){
				if(res.success){
					if(res.username && res.password){
						setCookie('username',res.username,1);
						setCookie('password',res.password,1);
					}
                    //alert(res.url);
					window.location = res.url;
				}else{
					alert(res.message);
				}
			}
		})
		
		
	})
	function getCookie(sName) {
                
                    var sRE = "(?:; )?" + sName + "=([^;]*);?";
                    var oRE = new RegExp(sRE);
                    
                    if (oRE.test(document.cookie)) {
                        return decodeURIComponent(RegExp["$1"]);
                    } else {
                        return null;
                    }
                
                }             
				
				
	  window.onload = function () {
                    var  spwd = getCookie("password");
                    var sName = getCookie("username");
					if(spwd && sName){
						$("input[name='name']").val(sName);
						$("input[name='password']").val(spwd);
						$("#rememberpsd").attr('checked',true);
					}
                };
				
		function setCookie(name, value, iDay){ 
			/* iDay 表示过期时间   
			cookie中 = 号表示添加，不是赋值 */   
			var oDate=new Date();   
			oDate.setDate(oDate.getDate()+iDay);       
			document.cookie=name+'='+value+';expires='+oDate;
		}

		function keyLogin(){
		 if (event.keyCode==13)  //回车键的键值为13
		   $(".submit").click(); //调用登录按钮的登录事件
		}

</script>
</body>
</html>