<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>添加</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Back/src/css/add.css">
</head>
<body>
	<form action="{:U('bar_add')}" method="POST" id="form" enctype="multipart/form-data">
		<div class="fileBox mart10">
			<input id="file" type="file" name="file">
			<label class="i-label" for="file">上传图片</label>
			<span>建议尺寸：1920*480&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建议类型：jpg</span>
			<br/>
			<div style="margin-top:53px">
			选择发布类型:&nbsp;&nbsp;&nbsp;<select name='type'>
				<option value="1">&nbsp;&nbsp;顶部位置&nbsp;&nbsp;</option>
				<option value="2">&nbsp;&nbsp;底部位置&nbsp;&nbsp;</option>
			</select>
			</div>
		</div>
		<button id="button" type="button">确定</button> 
	</form>
<script type="text/javascript" src="__PUBLIC__/Back/src/js/jquery-1.9.1.min.js"></script>	
<script>
	$('#button').click(function(){
		if($('#file').val() == '') return alert("请上传图片！");
		$('#form').submit();
	});
</script>
</body>
</html>