.flex-control-nav,
.icaseDetLink,
.serBtn,
.serIco,
.serIntro,
.serTitle {
	text-align: center
}

.flex-control-paging span,
.flex-direction-nav a,
.icaserPic,
.inImg {
	overflow: hidden;
	cursor: pointer
}

.footer li a,
.icaseDetLink,
.icaserTitle,
.inMore,
.inTitle {
	text-decoration: none
}

.active .mico_home .micoi,
.mico_home .micoi {
	top: -58px
}

.flexslider {
	min-width: 1257px;
	margin: 0 auto 20px;
	position: relative;
	width: 100%;
	height: 480px;
	overflow: hidden;
	zoom: 1
}

.flexslider .slides li {
	width: 1920px;
	height: 480px;
	position: absolute;
	left: 50%;
	margin-left: -960px;
}

.flex-direction-nav a {
	width: 70px;
	height: 70px;
	line-height: 99em;
	margin: -35px 0 0;
	display: block;
	background: url(../img/ad_ctr.png) no-repeat;
	position: absolute;
	top: 50%;
	z-index: 10;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	border-radius: 35px
}

.iaPic img,
.icaserPic img {
	transition: all .5s ease-in-out
}

.flex-direction-nav .flex-next {
	background-position: 0 -70px;
	right: 0
}

.flex-direction-nav .flex-prev {
	left: 0
}

.flexslider:hover .flex-next,
.flexslider:hover .flex-prev {
	opacity: .8;
	filter: alpha(opacity=25)
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
	opacity: 1;
	filter: alpha(opacity=50)
}

.iaPicMask,
.icaserMask {
	filter: alpha( opacity=80)
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 10px
}

.flex-control-nav li {
	margin: 0 2px;
	display: inline-block;
	zoom: 1
}

.flex-control-paging span {
	background: url(../img/dot.png) 0 -16px no-repeat;
	display: inline-block;
	zoom: 1;
	height: 16px;
	text-indent: -99em;
	width: 16px
}

.flex-control-paging .active,
.flex-control-paging li a.flex-active {
	background-position: 0 0
}

.flexslider .slides a img {
	height: 480px;
	display: block;
	position: absolute;
	top: 0;
	right: 0
}

.service {
	/*width: 1006px;*/
	width: 1260px;
	margin: 0 auto;
	padding: 0 0 47px
}

.serQuery {
	margin: 0 auto;
	width: 100%;
	height: 300px;
	padding: 50px 0 0;
	overflow: hidden
}

.serLi {
	position: relative;
	float: left;
	width: 223.4px;
	height: 385px;
	margin: 0 14px
}
/*
.serWrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 223.4px;
	height: 383px;
	border: 1px solid #cecece
}
*/
.serWrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	height: 264px;
	border-radius: 4px;
	overflow: hidden;
	border: 1px solid #EEEEEE;
	box-shadow:0px 0px 6px #CCCCCC;
}
/*
.serIco {
	width: 103px;
	height: 103px;
	margin: 24px auto 0;
	background-color: #666;
	font-size: 0;
	line-height: 0
}
*/
.serIco {
	width: 220px;
	height: 110px;
	margin: 0px auto 0;
	background-color: #666;
	font-size: 0;
	line-height: 0
}

.serIco img {
	display: block;
	width: 220px;
	height: 110px;
}

.serIco-over{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 220px;
    height: 110px;
    text-align: center;
    line-height: 110px;
    background: rgba(0,0,0,.2);
}
.serIco-over span{
	color: #FFFFFF;
	font-size: 20px;
}

.serTitle {
	margin: 30px 0 10px;
	line-height: 28px;
	font-size: 18px;
	color: #000
}

.icaseWrap,
.serBtn,
.serLink {
	margin: 0 auto
}
/*
.serIntro {
	padding: 0 0 16px;
	line-height: 30px;
	color: #484848
}
*/
.serIntro {
	margin-top: 25px;
	padding: 0 0 16px;
	line-height: 30px;
	color: #ADADAD;
	font-size: 15px;
}
.serIntro span{
	display: inline-block;
	width: 25px;
	height: 18px;
	
}
.serIntro span:nth-of-type(1){
	background: #fff url(../img/yinghao1.png) 0 0 no-repeat;
	margin-left: -24px;
	
}
.serIntro span:nth-of-type(2){
	background: #fff url(../img/yinghao2.png) 0 0 no-repeat;
	margin-right: -29px;
}
.serLink {
	width: 192px;
	border-top: 1px dotted #8d8d8d;
	padding: 21px 0 0
}

.iaCtrl,
.inList {
	border-top: 1px solid #eaeaea
}

.serBtn {
	display: block;
	position: relative;
	width: 120px;
	height: 37px;
	overflow: hidden;
	line-height: 36px
}

.serBtnHover,
.serBtnLink {
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 37px;
	background: url(../img/service_button.png) center top no-repeat
}

.serBtnLink {
	z-index: 1;
	background-position: center top;
	color: #3f3f3f
}

.serBtnHover {
	z-index: 0;
	background-position: center center;
	color: #fff
}

.icaseWrap {
	width: 1257px;
	padding: 24px 0 16px
}

.icaseHeader {
	height: 36px;
	overflow: hidden;
	padding: 0 0 12px
}

.icaseDetLink {
	float: right;
	width: 78px;
	height: 28px;
	margin: 4px 0 0;
	padding: 0 18px 0 0;
	background: url(../img/case_more_arrow.png) 70px center no-repeat #cbcbcb;
	line-height: 28px;
	color: #fff;
	border-radius: 18px;
}

.icaseName {
	float: left;
	height: 24px;
	padding: 12px 0 0 35px;
	background: url(../img/xmanli.png) left center no-repeat;
	line-height: 20px;
	font-size: 22px;
}

.icaseBody {
	overflow: hidden
}

.icaseLeft {
	position: relative;
	float: left;
	width: 402px;
	overflow: hidden;
	padding: 20px 0 0;
	background: #fff
}

.icaseLeftTitle {
	height: 28px;
	padding: 0 0 0 18px;
	color: #858585;
	line-height: 28px;
	font-size: 15px
}

.icaseLeftIntro {
	position: relative;
	margin: 16px 0 0
}

.icasebNext,
.icasebPrev {
	position: absolute;
	z-index: 9;
	top: 100px;
	width: 31px;
	height: 31px;
	background: url(../img/case_control.png) no-repeat
}

.icasebPrev {
	left: 0;
	background-position: left bottom
}

.icasebPrev:hover {
	background-position: left top
}

.icasebNext {
	right: 0;
	background-position: right bottom
}

.icasebNext:hover {
	background-position: right top
}

.icaseBanner {
	position: relative;
	z-index: 0;
	width: 420px;
	height: 357px
}

.icaseBanner .icasePic,
.icaseBanner .icasePic img {
	width: 100%
}

.icasebli {
	position: absolute;
	left: 0;
	top: 0;
	width: 402px
}

.icasePic {
	display: block;
	width: 402px;
	height: 226px;
	overflow: hidden;
	font-size: 0;
	line-height: 0
}

.icaseInfo {
	border-bottom: 1px solid #ececec;
	padding: 19px 21px 7px
}

.icaseTitle {
	line-height: 28px;
	font-size: 18px;
	color: #353535
}

.icaseDate {
	line-height: 22px;
	font-size: 14px;
	color: #adadad
}

.icaseIntro {
	padding: 10px 20px;
	line-height: 20px;
	color: #868686
}

.vlist {
	width: 100%;
	overflow: hidden
}

.icaserQuery {
	float: left;
	width: 295.5px;
	margin: 0 0 25px 25px;
	padding: 0 0 8px;
	background: #fff
}

.icaserDate,
.icaserTitle {
	display: block;
	padding: 0 0 0 15px
}

.icaserTitle {
	font-size: 14px;
	color: #353535;
	line-height: 24px
}

.icaserQuery:hover .icaserTitle {
	color: #fff
}

.icaserDate {
	line-height: 20px;
	color: #adadad
}

.icaserPic {
	position: relative;
	width: 295.5px;
	height: 166px;
	margin: 0 0 5px;
	font-size: 0;
	line-height: 0
}

.icaserPic img {
	width: 100%;
	min-height: 100%;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out
}

.icaserPic:hover img {
	transform: sale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1)
}

.icaserMask {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .3
}

.icaserLink {
	position: absolute;
	top: -45px;
	left: 125px;
	z-index: 9;
	width: 45px;
	height: 45px;
	background: url(../img/play.png) center center no-repeat
}

.iaList,
.iaQuery {
	height: 225px;
	width: 402px
}

.iaList {
	background: #fff
}

.iaAndn {
	width: 1257px;
	margin: 40px auto;
	padding: 0 0 46px;
	overflow: hidden
}

.iabout {
	float: left;
	width: 285px;
	margin: 0 1px 0 0;
	overflow: hidden;
	margin-right: 25px
}

.iaQuery {
	position: relative;
	z-index: 0
}

.iaList {
	position: absolute
}

.iaName {
	height: 32px;
	width: 285px;
	padding: 11px 0 11px 0px;
	border-bottom: 1px solid #eaeaea
}

.iaNameEn {
	font-size: 24px;
	color: #777;
	line-height: 32px
}
/*
.iaNameCn {
	margin: 0 0 0 8px;
	color: #9c9c9c;
	line-height: 20px;
	vertical-align: 2px
}
*/
.iaNameCn {
	vertical-align: 2px;
    padding: 0px 0 0 35px;
    background: url(../img/guanyuwm.png) left center no-repeat;
    line-height: 20px;
    font-size: 22px;
}

.iaBody {
	height: 225px;
	position: relative
}

.iaIntro,
.iaPic,
.iaPicMask,
.iaPicName {
	position: absolute
}

.iaPic img {
	width: 100%;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out
}

.iaPic:hover img {
	transform: sale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1)
}

.iaPic {
	left: 20px;
	top: 25px;
	width: 172px;
	height: 175px;
	font-size: 0;
	line-height: 0;
	overflow: hidden
}

.iaPicMask {
	left: 0;
	right: 0;
	bottom: 0;
	height: 36px;
	opacity: .8;
	background: #000
}

.iaPicName {
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 10px;
	font-size: 12px;
	line-height: 36px;
	color: #fff
}

.iaIntro {
	right: 14px;
	top: 25px;
	width: 176px
}

.iaTitle {
	font-size: 14px;
	color: #333;
	line-height: 24px;
	font-weight: 700
}

.iaContent {
	padding: 13px 0 0;
	color: #999;
	font-size: 12px;
	line-height: 20px
}

.iaCtrl {
	height: 31px;
	padding: 19px 14px 0 0;
	text-align: right
}

.footer p,
.inLableDate,
.inMore {
	text-align: center
}

.iaCtrl a {
	display: inline-block;
	width: 11px;
	height: 11px;
	margin: 0 3px;
	background: #e0e0e0
}

.iaCtrl a.curr,
.iaCtrl a:hover {
	background: #4b4b4b
}

.iNews,
.inMore {
	/*background: #fff*/
}

.iNews {
	float: left;
	/*width: 854px;*/
	width: 75%;
	
}

.inMore,
.inNext,
.inPrev {
	float: right;
	height: 54px;
	border-left: 1px solid #eaeaea
}

.inHeader {
	height: 54px;
}

.inMore {
	width: 72px;
	line-height: 54px;
	color: #5f5f5f;
	font-size: 14px
}

.inMore:hover {
	color: #fff
}

.inNext,
.inPrev {
	width: 56px;
	background: url(../img/news_control.png) no-repeat #fff
}

.inPrev {
	background-position: left bottom
}

.inNext {
	background-position: right bottom
}

.inPrev:hover {
	background-position: left top
}

.inNext:hover {
	background-position: right top
}

.inNameEn {
	font-size: 24px;
	color: #777;
	line-height: 54px
}

.inNameCn {
	background: url(../img/zuixindt.png) left center no-repeat;
    padding: 0px 0 0 35px;
    line-height: 44px;
    font-size: 22px;
}

.inQueryWrap {
	position: relative;
	width: 100%;
	height: 430px;
	overflow: hidden;
	background-color: #FFFFFF;
	
}

.inQuery {
	position: absolute;
	left: 0;
	top: 0;
	/*width: 1196px;*/
	width: 100%;
	height: 430px
}

.inList {
	position: relative;
	height: 112px;
	/*width: 742px;*/
	width: 100%;
	padding: 26px 0 0 20px
}

.inList.inListTop {
	position: absolute;
	left: 598px;
	top: 0
}

.inList.inListBottom {
	position: absolute;
	left: 598px;
	top: 139px
}

.inImg {
	width: 160px;
	height: 90px;
	margin-right: 10px
}

.inImg img {
	width: 100%;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out
}

.inImg img:hover {
	transform: sale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1)
}

.inLableDate {
	position: absolute;
	top: 26px;
	left: 28px;
	width: 50px;
	height: 90px;
	background-color: #9b9b9b;
	color: #fff
}

.indDay {
	display: block;
	height: 55px;
	font-size: 36px;
	line-height: 55px;
	border-bottom: 1px dotted #fff
}

.indMonth {
	display: block;
	font-size: 14px;
	line-height: 35px;
	height: 35px
}

.inDate {
	position: absolute;
	right: 52px;
    /*font-size: 16px;*/
	top: 28px;
	line-height: 24px;
	color: #b6b6b6
}

.inTitle {
	font-size: 14px;
	line-height: 28px;
	color: #393939
}

.inList:hover .inTitle {
	color: #058bbc
}

.inIntro {
	/*width: 500px;*/
	width: 678px;
	padding: 5px 28px 0 0;
	line-height: 20px;
	color: #868686
}

.footer,
.footer li a {
	font-size: 14px;
	color: #949494
}

.footer {
	height: auto;
	padding: 10px 0
}

.footer ul {
	width: 1215px;
	margin: 0 auto;
	padding-right: 40px;
	height: 25px;
	position: relative;
	overflow: hidden
}

.footer .link_more {
	width: 16px;
	height: 8px;
	position: absolute;
	right: 10px;
	top: 9px;
	cursor: pointer;
	cursor: pointer;
	
}
#link_more{cursor: pointer;}
.footer .link_more_2 {
	height: 19px;
	line-height: 19px;
	position: absolute;
	right: 10px;
	top: 0px;
	cursor: pointer;
	width: auto;
}
.footer li {
	float: left;
	margin: 3px 5px
}

.footer li a:hover {
	color: #fff
}

.footer p {
	margin: 8px 0
}

.footer .mart20 {
	margin-top: 20px
}

/*0826改版添加*/
.gywm-pic img{
 	width: 285px;
 	height: 145px;
 	display: block;
 }
.gywm-info{
	padding: 15px;
	background-color: #fff;
	height: 255px;
}
.gi-title{
	font-weight: 900px;
}
.gi-content{
	margin-top: 15px;
	color: #8D8D8D;
	background-color: #fff;
	line-height: 20px;
}
.dbpic{
	width: 1255px;
	margin: 0 auto 50px;
}
.dbpic img{
	margin-left: 7%;
}
.dbpic img:nth-of-type(1){
	margin-left: 0px;
}
