<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="utf-8">
<title>关于动画街 杭州flash动画制作公司-MG动画制作-创意视频制作-动画设计</title>
<meta name="keywords" content="杭州二维动画制作，杭州flash动画，创意广告片制作，动画设计制作公司，杭州MG动画制作公司，动画视频制作" />
<meta name="description" content="动画街影视制作公司，具备一流动画设计制作团队，专业策划制作二维动画，MG动画，产品动画，创意广告宣传片制作等，是您合作首选，设计方案与制作报价完全透明！" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/src/css/public.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/src/css/about.css">
<style type="text/css">
	.astep_5 .asTitle{
		font-family: "Microsoft Yahei";
		text-shadow: none;
	}
</style>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</head>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?a0b3ecf9587b562feb1621827b5cf930";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<body>
	<div class="header">
	<div class="header_bar1" style="background-image: url(__PUBLIC__/Home/src/img/logo1.png);">
	</div>
	<nav id="menu" class="menu">
		<ul class="mwrap">
			<li>
				<a href="http://www.donghuajie.com" class="mlink">
					<span class="mname">首页</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/anli.html" class="mlink">
					<span class="mname">作品案例</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/about.html" class="mlink active">
					<span class="mname">关于我们</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/circuit.html" class="mlink">
					<span class="mname">服务流程</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/news.html" class="mlink">
					<span class="mname">最新动态</span>
				</a>
			</li>
			<li>
				 <a href="http://www.donghuajie.com/contact.html" class="mlink">
					<span class="mname">来撩我们</span>
				</a>
			</li>
			<li>
				<span class="dianhua">400-8656-770</span>
			</li>
		</ul>
		<div class="mshadow"></div>
	</nav>
</div> 
<div class="header_hr"></div>   
<div class="aboutWrap">
	<div class="aboutSide">
		<div class="aboutSideTop"></div>
        <input type="hidden" name="hidZhou" id="hidZhou" />
		<div id="aboutSide" class="aboutSideLink">
			<a href="javascript:void(0);" class="curr"></a>
			<a href="javascript:void(0);" class=""></a>
			<a href="javascript:void(0);" class=""></a>
			<a href="javascript:void(0);" class=""></a>
			<a href="javascript:void(0);" class=""></a>
			<a href="javascript:void(0);" class=""></a>
		</div>
		<div class="aboutSideBottom"></div>
	</div>
	<ul id="astepWrap" class="astepWrap">
		<li class="astep astep_1">
            <h4 class="asTitle"><span>动画街动漫设计</span></h4>
			<div class="asContent">
				<!--<p>动画街，专注MG动画，FLASH动画以及各类的动画创作。</p>-->
				<p>动画街，专注各类动画创作</p>
				<!--<p>拥有年轻有活力的团队，动画项目人员均为从业2年以上工作者。</p>-->
				<p>一支年轻有活力的团队，一群动画行业资深工作者</p>
				<!--<p>无论是什么类型的动画皆有专属动画为您制作，从咨询到成片，一条龙服务，没有后顾之忧</p>-->
				<p>服务一个您！</p>
			</div>
        </li>
		<li class="astep astep_2">
			<h4 class="asTitle">动画街概况</h4>
			<div class="asContent">
				<p class="p0">
					<span style="font-size:14px;">
						<span style="font-size:16px;"><strong>动画街动漫动画设计</strong><br /></span>
						<span style="font-size:12px;color:#444444;">动画街以完善的服务体系，严格的动画质量要求及专业的产品创作团队，为您提供全流程解决方案，从文案策划、专业配音录制到视频成片，所有的动画类型，<br/>只要您想得到，没有我们做不到。<br /><br />
						<span style="font-size:16px;"><strong>我们制作专属于您的高品质作品！</strong></span><br />合作种类包含品牌宣传片、产品宣传片、APP宣传片、产品宣传片、流程演示片、科普教育片、政府工作报告及政策解析、叙事剧集动画、H5等 </span></span> 
				</p>
			</div>
		</li>
		<li class="astep astep_3">
			<h4 class="asTitle">我们的观点</h4>
			<div class="asContent">
				<p><p class="p0" style="text-align:center;">
				<span style="font-size:12px;">我们不接受平庸</span> 
				</p>
				<div style="text-align:center;">
					<span style="line-height:1.5;">坚持打造专属的服务和品质</span> 
				</div>
				<div style="text-align:center;">
					<span style="line-height:1.5;">坚持原创定制化设计</span> 
				</div>
				<span style="font-size:12px;"> 
				<div style="text-align:center;">
					<span style="line-height:1.5;">我们相信广告的本质离不开品质</span> 
				</div>
				</span> 
				<!--<span style="font-size:12px;"> 
				<div style="text-align:center;">
					<span style="line-height:1.5;">我们坚持原创定制化设计</span> 
				</div>
				</span> 
				<span style="font-size:12px;"> 
				<div style="text-align:center;">
					<span style="line-height:1.5;">我们坚信原创视觉效果会更打动顾客</span> 
				</div>
				</span> -->
				<span style="font-size:12px;"> 
				<div style="text-align:center;">
					<span style="line-height:1.5;">始终以专业的角度深度了解您的需求</span> 
				</div>
				</span> <span style="font-size:12px;"> 
				<div style="text-align:center;">
					<span style="line-height:1.5;">相信我们会给您不一样的体验</span> 
				</div>
				</span> <span style="font-size:12px;"> 
				<div style="text-align:center;">
					<span style="line-height:1.5;">动画街等着您的到来</span> 
				</div>
				</span> 
				<!--<span style="font-size:12px;"> 
				<div style="text-align:center;">
					<span style="line-height:1.5;font-size:24px;">我们一直在期待.......</span> 
				</div>
				</span> -->
				<p class="p0" style="text-align:center;">
					<span style="font-size:12px;">与您的合作将从这里开始！</span> 
				</p></p>
				</div>
			</li>
			<li class="astep astep_4">
				<h4 class="asTitle">我们的优势</h4>
				<ul class="asSup">
					<li class="asSupl">
						<h5 class="asSuplTitle">服务</h5>
						<div class="asSuplIntro">我们是站在客户的立场上考虑策划方案的，无论是什么类型的动画二十四小时为您制作，从咨询到成片，一条龙服务，没有后顾之忧。</div>
					</li>
					<li class="asSupl">
						<h5 class="asSuplTitle">团队</h5>
						<div class="asSuplIntro">我们是一支年轻充满活力的实战派设计团队，项目负责人+方案设计师+动画导演+原画设计师+动画设计师=您的服务团队，我们一直奋战在一线，向诸多企业提供视频解决方案；</div>
					</li>
					<li class="asSupl">
						<h5 class="asSuplTitle">技术</h5>
						<div class="asSuplIntro">从街头到街尾，这是一条动画行业街，充斥着两年以上的动画行业从业人员，他们开着各有特色的店铺，只为您的光临</div>
					</li>
				</ul>
			</li>
			<li class="astep astep_5">
				<h4 class="asTitle">动画街创意动画，专属动画管家</h4>
			</li>
			<li class="astep astep_6">
				<h4 class="asTitle">企业文化</h4>
				<div class="asContent">
					<p><span style="font-size:12px;line-height:18px;">作为新一代影视文化制作公司，动画街有自己全新的互联网思维模式，以解决客户痛点为目标，以互联网透明化接单布局全国，以标准化、规模化、模块化为基础，立足杭州，服务全国，实现标准化定价，线上获取信息，线上支付，线下服务，打造真正的互联网视频制作公司。动画街以良好的商业信誉，完善的服务及深厚的技术力量，以客户服务为中心，专业为客户量身打造客户喜欢的网站平台。</span></p>
				</div>
				<img class="asDmj" src="__PUBLIC__/Home/src/img/about4.jpg" alt="dmj">
			</li>
		</ul>
	</div>
<div class="picLink">
	<ul id="plQuery" class="plQuery">
	<foreach name="but" item="vol">
		<li class="plList"><a><img class="plGrey" src="{$vol.sltpath}"><img class="plColor" src="{$vol.src_hover}" title="{$vol.title}" alt="{$vol.title}"></a></li>
	</foreach>
	</ul>
</div>
<div class="webSite">
	<ul class="wsLink">
		<li class="wslList">
			<span class="wslName">关于我们</span>
			<ul class="wslcQuery">
                <li> <a href="{:U('Home/Index/about')}" target="_blank">公司概况</a></li>		
			</ul>
		</li>
		<li class="wslList">
			<span class="wslName">服务项目</span>
			<ul class="wslcQuery">
				<li> <a href="{:U('Home/Index/circuit')}" target="_blank">MG动画视频</a></li>
                    <li> <a href="{:U('Home/Index/circuit')}" target="_blank">二维动画</a></li>
                    <li> <a href="{:U('Home/Index/circuit')}" target="_blank">三维动画</a></li>		
			</ul>
		</li>
		<li class="wslList">
			<span class="wslName">新闻动态</span>
			<ul class="wslcQuery">
                <li> <a href="{:U('Home/Index/news')}" target="_blank">行业资讯</a></li>          	
			</ul>
		</li>
		<li class="wslList">
			<span class="wslName">联系我们</span>
			<ul class="wslcQuery">
					<li> <a href="{:U('Home/Index/contact')}" target="_blank">联系方式</a></li>
                    <li> <a href="{:U('Home/Index/contact')}" target="_blank">需求提交</a></li>          		
			</ul>
		</li>
		<li class="fl wsLx">
			<div class="clear marb35">
				<div class="fl w93 marr15">联系电话：</div>
				<div class="fl">
					<p class="marb10">{$n['u_tel'][1]}&nbsp;&nbsp;&nbsp;{$n['u_name'][1]}</p>
					<p>{$n['u_tel'][2]}&nbsp;&nbsp;&nbsp;{$n['u_name'][2]}</p>
				</div>
			</div>
			<div class="clear"> 
				<div class="fl w93 marr15"><img src="__PUBLIC__/Home/src/img/qq.jpg" alt="qq"></div>
				<div class="fl">
					<p class="marb10"><a style="color:#000;text-decoration:none;" href="tencent://message/?uin={$n['u_QQ'][1]}&Menu=yes" target="_blank">{$n['u_QQ'][1]}</a></p>
					<p><a style="color:#000;text-decoration:none;" href="tencent://message/?uin={$n['u_QQ'][2]}&Menu=yes" target="_blank">{$n['u_QQ'][2]}</a></p>
				</div>
			</div>
		</li>
	</ul>
</div>
<div class="footer"></div>
<div id="top"></div>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/zzsc.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/TweenMax.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/public.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/src/js/about.js"></script>
</body>
</html>